*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-div{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.outer-div .image-box{
    position:relative;
    width: 50%;
    height: 100%;
}

/* .image-box:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg , #4b2431 , #0b1a20);
    z-index: 1;
    mix-blend-mode: screen;

} */

.outer-div .image-box img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 2rem;
}

.form-box .input-box p{
    margin-left: 10px;
    color: red;
    margin-top: 10px;
}
.content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    
    
}

.form-box{
    width: 50%;
}

h2{
    color: #d43e25;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px ;
    border-bottom: 4px solid #202850 ;
    display: inline-block;
    letter-spacing: 1px;
}

.form-box .input-box{
    margin-bottom: 20px;

}

span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
}


.form-box .input-box input{
    width: 100%;
    padding: 10px 20px;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    border-radius: 30px;
    background: transparent ;
}

.form-box .input-box input[type="submit"]{
    background: #d43e25;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    /* margin-left: 20px; */
}

input[type="submit"]:hover{
    background: #202850;
    
}

@media (max-width:768px){
 

    .outer-div{
        display: flex;
        flex-direction: column;
    }

    .content-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .form-box{
        width: 100%;
        padding: 40px;
        background: rgb(255 255 255 / 0.9);
        margin: 50px;
    }

    .image-box{
        display: none;
        margin-top: 0;
        margin-left: 20%;
    }
}

