.modal .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(49,49,49,0.8) ;

}

.modal .overlay:hover{
    cursor: pointer;
}

.modal .modal-content .header{
    background-color: #0a0c27;
    display: flex;
    justify-content: center;
    border-radius: 2px 2px 0px 0px;
    height: 44px;

}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    /* padding: 14px 28px; */
    border-radius: 3px;
    max-width: 600px;
    min-width: 400px;
    border: 1.5px solid grey;
    border-radius: 5px;
    
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    background: #d43e25;
    color: white;
    font-weight: 600;
    font-size: 0.5em;
}

.close-modal:hover{
    background: blue;
}

.modal .modal-content span{
    color: white;
    font-weight: 700;
    font-size: 22px;
    /* display: inline-block; */
    letter-spacing: 2px;
    margin-top: 5px;
    
}

.modal .modal-content .details{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

.modal .modal-content .details input{
    width: 100%;
    border: 2px solid grey;
    height: 34px;
    border-radius: 5px;
    margin-top: 12px;
    padding-left: 10px;
}

.modal .modal-content .details label{
    font-size: 16px;
    color: #607d8b;
    font-weight: 400;
}

.modal .modal-content .submit-box input[type="submit"]{
    height: 34px;
  background: #0a0c27;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 20px;
  width: 90%;
  margin-left: 16px;
  border-radius: 8px;
  /* margin-top: 5px ; */
  margin-bottom: 16px;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 20px;
}

.modal .modal-content .submit-box input[type="submit"]:hover{
    background: #010103;
}

.modal .modal-content .details p{
    color: red;
}

.modal-content .success-popup-message{
    display:flex;
    justify-content:center;
    padding:10px;
    color:green;
}

.modal-content .danger-popup-message{
    display:flex;
    justify-content:center;
    padding:10px;
    color:#7d2828;
}
