nav .logo {
  color: white;
  font-size: 33px;
  font-weight: bold;
  padding-left: 5rem;
}

nav .logo:hover{
  cursor: pointer;
}
nav {
  height: 70px;
  display: flex;
  background: #0a0c27;
  justify-content: space-between;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}
nav ul li {
  display: inline-block;
}
nav ul li .active {
  color: white;
  display: block;
  padding: 0 15px;
  font-size: 20px;
  background: #0a0c27;
  transition: 0.5s;
}

nav ul li a:hover {
  cursor: pointer;
}

.dropbtn {
  background: none;
  border: none;
  font-size: 1rem;
  color: aliceblue;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: aliceblue;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: black;
  margin: 0.7rem;
}
.dropdown-content a:hover {
  color: gray;
}
a {
  text-decoration: none;
  color: aliceblue;
}

.drop-down {
  float: left;
  overflow: hidden;
  
}


.drop-down-content {
  display: none;
  position: absolute;
  min-width: 148px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  background: #0a0c27;
  border-radius: 5px;
  
}

.drop-down-content a {
  float: none;
  color: aliceblue;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 15px;
}

.drop-down:hover .drop-down-content {
  display: block;
}

.active-link{
  font-weight: bold;
  color: white;
  padding-bottom: 5px;
}

.nav-link-active {
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
  color: white;
}
