.view-detail-modal {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f1f1f1;
  border-radius: 3px;
  border-radius: 10px;
}

.view-detail-modal .parent-div {
  display: flex;
  width: 100%;
  height: 80%;
  margin-top: 10px;
}

.view-detail-modal .parent-div .left {
  width: 99%;
  height: 100%;
  margin-left: 10px;
  border-right: 1px solid grey;
}
.view-detail-modal .parent-div .right {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.ticketdata {
  display: flex;
  padding: 0.5rem;
  flex-direction: row;

  align-items: flex-end;
}

.comment-content {
  margin: 5px 0px 15px 0px;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.modal .view-detail-modal .header {
  background-color: #0a0c27;
  display: flex;
  justify-content: center;
  border-radius: 9px 9px 0px 0px;
  height: 44px;
}

.modal .view-detail-modal span {
  color: white;
  font-weight: 700;
  font-size: 22px;
  /* display: inline-block; */
  margin-top: 5px;
}

.view-detail-modal .parent-div .left .left-parent .ticketdata p {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 0px;
  display: inline-block;
  margin-left: 10px;
}

.view-detail-modal .parent-div .left .left-parent .ticketdata textarea {
  height: 130px;
  width: 516px;
  padding: 0.5rem;
}

.view-detail-modal .button-update button {
  width: 30%;
  padding: 7px 0px;
  margin-top: 8px;
}

.view-detail-modal .button-update {
  width: 100%;
  text-align: center;
}

.comment-content h3 {
  margin-bottom: 0.5rem;
}

.view-detail-modal h3 {
  color: #3f5965;
}

.view-detail-modal select {
  border: 1px solid grey;
  size: 35px;
  font-size: 16px;
  border-radius: 20px;
  background: transparent;
  margin-left: 10px;
}

.view-detail-modal textarea {
  border-radius: 10px;
  padding-left: 12px;
  font-weight: 400;
  border: 1px solid grey;
  font-size: 16px;
  background: transparent;
}

.comment-content p {
  word-break: break-all;
}

.button-update button {
  background: #0a0c27;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.ticket-des {
  display: flex;
  flex-direction: column;
}

.ticket-des textarea {
  width: 509px;
  height: 72px;
}

.ticket-des h3 {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.right .comment {
  margin: 0px 0.5rem;
  height: 100%;
}

.button-update button:hover {
  background-color: #1b2d31;
}

.comment-content .comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comment-content .comment-header p {
  font-size: 0.8rem;
}

.no-comments {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f5965;
}

.button-update h4 {
  margin-top: 1.1rem;
}
