table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td, th {
    border: 2px solid #f0ebeb;
    text-align: center;
    padding: 8px;

  }

  .department-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .department-table th{
    background-color: #321e1e;
    color: #dddddd;
    margin: 5px;
  }

  .department-table td{
    font-size: 16px;
    
    
    color: #3f5965;
    font-weight: 300;
    letter-spacing: 1px;
  }