table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  td, th {
    border: 2px solid #f0ebeb;
    text-align: left;
    padding: 8px;
  }

  .department-table{
    margin: 3rem;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  .department-table th{
    background-color: black;
    color: #dddddd;
    margin: 5px;
  }